{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}

{% extends "layout.html" %}

{% block pageTitle %}
  Find an Energy Performance Certificate
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
{{ super() }}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/opt-in-opt-out">Opt In/Out</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Choice</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form action="id-property" method="post" class="form">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "opt-out-choice",
          name: "opt-out-choice",
          fieldset: {
            legend: {
              text: "What would you like to do?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "You can opt out of the register, or opt back in if you change your mind."
          },
          items: [
            {
              value: "Opt-in",
              text: "Opt in"
            },
            {
              value: "Opt-out",
              text: "Opt out"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>

    <div class="govuk-grid-column-one-third">
    </div>
  </div>
{% endblock %}
