{% from "table/macro.njk" import govukTable %}


{% extends "layout.html" %}

{% block pageTitle %}
  Find an Energy Performance Certificate
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
{{ super() }}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="index.html">Opt In/Out</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="choices.html">Choice</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="id-property.html">Id Property</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Confirm Property</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl">
        Is this the correct property?
      </h1>

      <div class="">
        <h2>{{ data['opt-out-street-address'] }}, {{ data['opt-out-postcode'] }}</h2>
        <p>Address:  {{ data['opt-out-street-address'] }}, {{ data['opt-out-postcode'] }}</p>
        <p>Reference Number:  {{ data['opt-out-referenceNo'] }}</p>
        <p>Date of assessment:  {{ property.assessmentDate }}</p>
        <p>Date of Issue: {{ property.issueDate }}</p>
      </div>



      <a href="relationship.html" role="button" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8">Yes</a>

      <a href="relationship.html" role="button" class="govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8">NO?</a>

    </div>

    <div class="govuk-grid-column-one-third">

    </div>
  </div>
{% endblock %}
