
{% extends "layout.html" %}

{% block pageTitle %}
  {{ content.data.Title.en }} - GOV.UK
{% endblock %}

{% from "breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ super() }}
    <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
    {% for item in content.data.Breadcrumbs.en %}
      {% if item.Href %}
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="{{ item.Href }}">{{ item.Text }}</a>
      </li>
      {% else %}
      <li class="govuk-breadcrumbs__list-item" aria-current="page">{{ item.Text }}</li>
      {% endif %}
    {% endfor %}
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        {{ content.data.Title.en }}
      </h1>
      {% markdown %}{{ content.data.Introduction.en|safe }}{% endmarkdown %}
      {% markdown %}{{ content.data.Body.en|safe }}{% endmarkdown %}



      <form id="main" action="application-complete" method="post" class="form">

        <div class="govuk-error-summary hide" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
          <h2 class="govuk-error-summary__title " id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
            </ul>
          </div>
        </div>


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
              </h1>
            </legend>
            <span id="assessor-search-type-hint" class="govuk-hint">
              I agree to the above terms and conditions
            </span>
            <span id="error-message" class="govuk-error-message hide">
              Check the agreement box to continue.
            </span>
            <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="agreement" name="agreement" type="checkbox" value="agreement">
            <label class="govuk-label govuk-checkboxes__label" for="agreement">
              I agree
            </label>
          </div>
          </fieldset>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
    <div class="govuk-grid-column-one-third">

      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->
      {% if content.data.Related.en %}
      <aside class="app-related-items" role="complementary">

        {% markdown %}{{ content.data.Related.en }}{% endmarkdown %}

      </aside>
      {% endif %}

    </div>
  </div>

{% endblock %}