
{% extends "layout.html" %}

{% block pageTitle %}
  Terms and conditions: Energy Performance of Buildings Register - GOV.UK
{% endblock %}


{% block beforeContent %}
  {{ super() }}
    <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="javascript: window.history.go(-1)">Back</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Energy Performance of Buildings Register Opt Out / Opt In terms and conditions
      </h1>

      <p>This website is the <abbr title="Energy Performance of Buildings">EPB</abbr> Register Opt Out Service. If you continue to access and utilise this website you are agreeing to comply with and be bound by the following Terms and Conditions of use, which govern Landmark Information Group&#39;s relationship with you in relation to this website.</p>
      <p>The term &#39;Landmark Information Group&#39; or &#39;us&#39; or &#39;we&#39; refers to the operator of the website whose Registered Office is 5-7 Abbey Court, Sowton Industrial Estate, Exeter, Devon, EX2 7HY. The term &#39;you&#39; refers to the user or viewer of our website.</p>
      <p>The use of this website is subject to the following terms of use:</p>
      <ul>
      <li>The content of the pages of this website is for the specific purposes as intended under the <abbr title="Energy Performance of Buildings">EPB</abbr> Regulations. It is subject to change without notice.</li>
      <li>Neither we nor any third parties provide any warranty or guarantee as to the accuracy, timeliness, performance, completeness or suitability of the information and materials found or offered on this website for any particular purpose other than that intended. You acknowledge that such information and materials may contain inaccuracies or errors and we expressly exclude liability for any such inaccuracies or errors to the fullest extent permitted by law, where we have taken reasonable steps to avoid such impacts.</li>
      <li>Your use of any information or materials on this website is limited to the purposes intended only. It shall be your own responsibility to ensure that any products, services or information available through this website meet your specific requirements.</li>
      <li>This website contains material which is owned by or licensed to us. This material includes, but is not limited to, the design, layout, look, appearance and graphics. Reproduction is prohibited other than in accordance with the copyright notice, which forms part of these terms and conditions.</li>
      <li>All trademarks reproduced in this website, which are not the property of, or licensed to the operator, are acknowledged on the website.</li>
      <li>Unauthorised use of this website may give to a claim for damages and/or be a criminal offence.</li>
      <li>From time to time this website may also include links to other websites. These links are provided for your convenience to provide further information. They do not signify that we endorse the website(s). We have no responsibility for the content of the linked website(s).</li>
      <li>You may not create a link to this website from another website or document without Landmark Information Group&#39;s prior written consent.</li>
      <li>We reserve the right without notice to protect the content of this website as we see fit.</li>
      <li>In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of or in connection with the use of this website.</li>
      <li>Your use of this website and any dispute arising out of such use of the website is subject to the laws of England and Wales.</li>
      <li>The content of this website is © Landmark Information Group Ltd.</li>
      </ul>



      <form id="main" action="application-complete" method="post" class="form">

        <div class="govuk-error-summary hide" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
          <h2 class="govuk-error-summary__title " id="error-summary-title">
            There is a problem
          </h2>
          <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
            </ul>
          </div>
        </div>


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="agreement-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">
              </h1>
            </legend>
            <span id="agreement-hint" class="govuk-hint">
              I agree to the above terms and conditions
            </span>
            <span id="error-message" class="govuk-error-message hide">
              Check the agreement box to continue.
            </span>
            <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="agreement" name="agreement" type="checkbox" value="agreement" onclick="enableButton()">
            <label class="govuk-label govuk-checkboxes__label" for="agreement">
              I agree
            </label>
          </div>
          </fieldset>
        </div>

        <button id="termsBtn" type="submit" disabled="disabled" aria-disabled="true" class="govuk-button govuk-button--disabled">
          Continue
        </button>
      </form>

    </div>
    <div class="govuk-grid-column-one-third">

      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->
      {% if content.data.Related.en %}
      <aside class="app-related-items" role="complementary">

        {% markdown %}{{ content.data.Related.en }}{% endmarkdown %}

      </aside>
      {% endif %}

    </div>
  </div>

{% endblock %}