{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}

{% extends "layout.html" %}

{% block pageTitle %}
  Find an Energy Performance Certificate
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
{{ super() }}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="javascript:history.back()">Back</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form action="assessor-branch" method="post" class="form">

        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "assessor-search-type",
          name: "assessor-search-type",
          fieldset: {
            legend: {
              text: "What would you like to do?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "You can start by searching here for a list of people accredited to carry out energy assessments, or check that a specific person has been accredited."
          },
          items: [
            {
              value: "find-assessor",
              text: "Find a local assessor"
            },
            {
              value: "check-assessor",
              text: "Check the accreditation of an assessor"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>

  </div>
{% endblock %}
