{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}

{% extends "layout.html" %}

{% block pageTitle %}
  Find an Energy Performance Certificate
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
{{ super() }}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/find-an-assessor">Find an assessor</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="search-for-what.html">Type of search</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="search-for-type.html">Type of Property</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Postcode search</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Find an Assessor
      </h1>
      <p>Searching here for an energy assessor for a {{ data['property-type']}} property.</p>
      <p>Enter a postcode.</p>

      <form action="results" method="post" class="form">
        {{ govukInput({
          label: {
            text: "Search for an Energy Assessor"
          },
          classes: "govuk-input--width-10",
          id: "address-postcode",
          name: "address-postcode",
          value: "CR2 6XH"

        }) }}

        {{ govukButton({
          text: "Find an Assessor"
        }) }}
      </form>

    </div>

  </div>
{% endblock %}
