{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}

{% extends "layout.html" %}

{% block pageTitle %}
  Find an Energy Performance Certificate
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
{{ super() }}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-back-link" href="javascript: window.history.go(-1)">Back</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">
    EPC Lodgement
  </h1>

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m">
      Recommendations
    </h2>

    <table class="govuk-table">
      <caption class="govuk-table__caption">Recommendations</caption>

      <tbody class="govuk-table__body">
        {% for item in recommends %}
        {% if response[loop.index]==='Recommended' %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{item}}</td>
          <td class="govuk-table__cell">{{response[loop.index]}}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
 
    <table class="govuk-table">
      <caption class="govuk-table__caption">Other</caption>

      <tbody class="govuk-table__body">
        {% for item in recommends %}
        {% if response[loop.index]!=='Recommended' %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{item}}</td>
          <td class="govuk-table__cell">{{response[loop.index]}}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
 

  
  

    <nav class="pagination" role="navigation" aria-label="Pagination">
      <ul class="pagination__list" data-module="track-click">
          {% if pageIndex>0%}
          <li class="pagination__item pagination__item--previous">
            <a href="#" class="pagination__link" rel="prev">
              <span class="pagination__link-title">
                <svg class="pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                </svg>
                <span class="pagination__link-text">
                  Previous
                </span>
              </span>
                <span class="pagination__link-divider visually-hidden">:</span>
                <span class="pagination__link-label">{{ sectionTitles[pageIndex-1] }}</span>
            </a>
          </li>
          {% endif %}
          <li class="pagination__item pagination__item--next">
            <a href="/overview" class="pagination__link" rel="next">
              <span class="pagination__link-title">
                <svg class="pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                  <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                </svg>
                <span class="pagination__link-text">
                  Next
                </span>
              </span>
                <span class="pagination__link-divider visually-hidden">:</span>
                <span class="pagination__link-label">Overview</span>
            </a>
          </li>
      </ul>
    </nav>


    </div>



    <div class="govuk-grid-column-one-third">
      <h2>Sections</h2>
    <ul class="govuk-list">
      {% for item in sectionTitles %}
        <li>
          <a class="govuk-link govuk-!-font-size-16" href="#">{{item}}</a>
        </li>                
      {% endfor %}
    </ul>

  </div>



  </div>
{% endblock %}
