
{% extends "layout.html" %}

{% block pageTitle %}
  Find an Energy Performance Certificate
{% endblock %}

{% block content %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">
          Energy Performance Certificates
        </h1>

      
        <div class="" >
          <p>Energy Performance Certificates (<abbr title="Energy Performance Certificates">EPCs</abbr>) are needed whenever a property is:</p>

          <ul>
            <li>built</li>
            <li>sold</li>
            <li>rented</li>
          </ul>

<p>You must order an <abbr title="Energy Performance Certificate">EPC</abbr> for potential buyers and tenants before you market your property to sell or rent.</p>

<p>In Scotland, you must display the <abbr title="Energy Performance Certificate">EPC</abbr> somewhere in the property, eg in the meter cupboard or next to the boiler.</p>

<p>An <abbr title="Energy Performance Certificate">EPC</abbr> contains:</p>

<ul>
  <li>information about a property’s energy use and typical energy costs</li>
  <li>recommendations about how to reduce energy use and save money</li>
</ul>

<p>An <abbr title="Energy Performance Certificate">EPC</abbr> gives a property an energy efficiency rating from A (most efficient) to G (least efficient) and is valid for 10 years.</p>

<div role="note" aria-label="Information" class="application-notice info-notice">
<p>Check how you could make your home more energy efficient using the Energy Savings Trust’s <a rel="external" href="https://www.energysavingtrust.org.uk/resources/tools-calculators/home-energy-check">home energy check.</a></p>
</div>

<h2 id="how-to-get-an-epc">How to get an <abbr title="Energy Performance Certificate">EPC</abbr>
</h2>

<p>You’ll need to find an accredited assessor if you’re selling or renting out your home in:</p>

<ul>
  <li><a rel="external" href="https://www.epcregister.com/searchAssessor.html">England, Wales and Northern Ireland</a></li>
  <li><a rel="external" href="https://www.scottishepcregister.org.uk/assessorsearch">Scotland</a></li>
</ul>

<p>They’ll assess your property and produce the certificate.</p>

<div role="note" aria-label="Help" class="application-notice help-notice">
<p>You can be fined if you don’t get an <abbr title="Energy Performance Certificate">EPC</abbr> when you need one.</p>
</div>

<p>The person selling the house, the landlord or the letting agent must show you the <abbr title="Energy Performance Certificate">EPC</abbr> if you’re buying or renting.</p>

<h2 id="buildings-that-dont-need-an-epc">Buildings that don’t need an <abbr title="Energy Performance Certificate">EPC</abbr>
</h2>

<p>These include:</p>

<ul>
  <li>places of worship</li>
  <li>temporary buildings that will be used for less than 2 years</li>
  <li>stand-alone buildings with total useful floor space of less than 50 square metres</li>
  <li>industrial sites, workshops and non-residential agricultural buildings that don’t use a lot of energy</li>
  <li>some buildings that are due to be demolished</li>
  <li>holiday accommodation that’s rented out for less than 4 months a year or is let under a licence to occupy</li>
  <li>listed buildings - you should get advice from your local authority conservation officer if the work would alter the building’s character</li>
  <li>residential buildings intended to be used less than 4 months a year</li>
</ul>

<h2 id="see-other-properties-epcs">See other properties’ <abbr title="Energy Performance Certificates">EPCs</abbr>
</h2>
<p>You can look at the <abbr title="Energy Performance Certificates">EPCs</abbr> of other properties free of charge. This lets you compare your home’s energy performance with that of similar homes. You can search by the <a rel="external" href="https://www.epcregister.com/reportSearchAddressTerms.html">property’s address</a> or by the <abbr title="Energy Performance Certificates">EPCs</abbr> <a rel="external" href="https://www.epcregister.com/searchReport.html">report reference number.</a></p>

<p>You can <a rel="external" href="https://www.epcregister.com/optout">opt out of the <abbr title="Energy Performance Certificate">EPC</abbr> register</a> if you don’t want other people to be able to see your <abbr title="Energy Performance Certificate">EPC</abbr>.</p>


</div>    
</div>    

<div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Related Content
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                Buying or Selling your home
              </a>
            </li>
            <li>
              <a href="#">
                EU EPB Directive
              </a>
            </li>
            <li>
              <a href="#">
                Green Deal
              </a>
            </li>
            <li>
              <a href="#">
                Renewable Heat Initiative
              </a>
            </li>

          </ul>
        </nav>
      </aside>

    </div>
    </div>

{% endblock %}
