
{% extends "layout.html" %}

{% block pageTitle %}
  Find an Energy Performance Certificate
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Find an Energy Performance Certificate
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}

      <h2 class="govuk-heading-m">Welcome to the Domestic Energy Performance Certificate Register</h2>

      <p>The legislation governing Home Information Packs has now been abolished and there is no longer a requirement to produce and to lodge Home Condition Reports on the Energy Performance Certificate Register. However, Home Condition Reports that have already been lodged may still be retrieved from the Register if required.
      </p>

      <p>
      An Energy Performance Certificate is required for properties when constructed, sold or let. The Energy Performance Certificate provides details on the energy performance of the property and what you can do to improve it.
      </p>

      <p>
      This website will allow you to: 
      </p>


      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a href="/find-a-report">
          Retrieve an Energy Performance Certificate.
        </a>
      </li>
        <li>
          <a href="/find-an-energy-assessor">
            Find an Domestic Energy Assessor.
          </a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
