
{% extends "layout.html" %}

{% block pageTitle %}
  Find an Energy Performance Certificate - GOV.UK
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/browse/housing-local-services">Housing and local services</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/browse/housing-local-services/owning-renting-property">Owning and renting a property</a>
      </li>

      <li class="govuk-breadcrumbs__list-item" aria-current="page">Find a report</li>


    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Find an Energy Performance Certificate</h1>

      <p>Use this service to:</p>
      <ul>
        <li>Energy Performance Certificates (EPCs) for domestic and non-domestic buildings.</li>
        <li>Display Energy Certificates (DEC) for public authority buildings.</li>
        <li>Air conditioning inspection certificates (AC-CERT) for air conditioning systems over 12kW.</li>
      </ul>
      <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
      If the owner and/or occupier of the property has chosen to remove a property from general searches, the property information can only be found using the reference number on the certificate.
      </strong>
      </div>

      <a href="find-a-report/choice" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
        Start now
      </a>


      <h2 class="govuk-heading-m">Before you start</h2>

      <p>This guide explains the <a href="https://www.gov.uk/government/publications/guide-to-the-general-data-protection-regulation">General Data Protection Regulation (GDPR)</a> to help organisations comply with its requirements.</p>
      <p>The online service is also available in <a href="#">Welsh (Cymraeg)</a>.</p>


    </div>

    <div class="govuk-grid-column-one-third">

      <!-- The Related items component is not part of GOV.UK Frontend but will be styled if used in the Prototype Kit -->

      <aside class="app-related-items" role="complementary">

        
        <h2>Related content</h2>
        <ul>
        <li><a href="/find-an-assessor">Find an Assessor</a></li>
        <li><a href="/opt-in-opt-out">Opt out of the register</a></li>
        </ul>

      </aside>

    </div>
  </div>
{% endblock %}