<!-- Form validation  -->
<script>

    (function() {


      // Hook up the form so we can prevent it from being posted
      var form = document.querySelector("form#main");

      // NB Only validate when the form is submittted
      if (form){
        form.addEventListener("submit", function(ev) {
          console.log('submit');
          ev.preventDefault();

          showErrorSummary();
        });

      } 

      function showErrorSummary(){
        var errorMsg = "Search using a reference number or a postcode.";
        var errorMsg = $('.govuk-error-message').text();
        console.log(errorMsg);
        $('.govuk-error-summary').removeClass('hide');
        $('.govuk-form-group').addClass('govuk-form-group--error');
        $('.govuk-error-summary__list').removeClass('hide');
        $('.govuk-error-message').removeClass('hide');

        var messages = document.querySelector(".govuk-error-summary__list");
        var block = document.createElement("li");
        var link = document.createElement("a");
        block.classList.add("help-block");
        block.classList.add("error");
        link.href = "#error";
        link.innerText = errorMsg;
        block.appendChild(link);
        messages.appendChild(block);

        //form.submit();
      }



    })();
</script>

