<!-- Form validation  -->
<script>

    (function() {

      var errors = [];  // store array of error messages

      // Hook up the form so we can prevent it from being posted
      var form = document.querySelector("form#main");

      // NB As per GDS, only validate when the form is submittted
      if (form){
        form.addEventListener("submit", function(ev) {
          console.log('submit');
          ev.preventDefault();
          handleFormSubmit();
        });

      } 


      function showAllErrors(){
        var i =0;
        var len = errors.length;
        for (i=0; i<len; i++){
          showErrorMessage(errors[i]);
        }

        showErrorSummary();
      }


      function showErrorSummary(){
        console.log(errors);
        $('.govuk-error-summary').removeClass('hide');
        $('.govuk-form-group').addClass('govuk-form-group--error');
        $('.govuk-error-summary__list').removeClass('hide');
        $('.govuk-error-message').removeClass('hide');
        // add govuk-input--error class to the offending error input
        $("#main input[type=text]").addClass('govuk-input--error');
      }


      function showErrorMessage(errorMsg){
        var messages = document.querySelector(".govuk-error-summary__list");
        var block = document.createElement("li");
        var link = document.createElement("a");
        block.classList.add("help-block");
        block.classList.add("error");
        link.href = "#error";
        link.innerText = errorMsg;
        block.appendChild(link);
        messages.appendChild(block);
      }


      function handleFormSubmit(){
        console.log('handleFormSubmit');
        clearErrorMessages();
        validateForm();
      }


      function clearErrorMessages() {
        console.log('clear form------------');
        $(".help-block.error").each( function( el ){
          $(this).remove();
        });
      }


      function validateForm() {
        console.log('validateForm');
        errors = [];
        clearErrorMessages();
        $("#main input[type=text]").each(function() {
          if(this.value==="") {
            errors.push("Missing " + this.id);
          }
        });

        var hasRadio = false;   // only display errors for radio button where they are present
        var isChecked = false;
        var name;

        $("#main input[type=radio]").each(function(){
          hasRadio = true;
          name = this.name
          if (this.checked){
            isChecked = true;
          }
        })

        if(hasRadio && !isChecked){
          var errorMsg = $('.govuk-error-message').text();
          if (!errors) {
            errorMsg = "Missing " + name;
          }
          errors.push(errorMsg);
        }

        if (errors.length>0){
          showAllErrors();
        }else{
          showSuccess();
        }
      }


      function showSuccess() {
        // We made it \:D/
        console.log("Success!");
        form.submit();
      }


    })();
</script>

