{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}

{% extends "layout.html" %}

{% block pageTitle %}
  Find an Energy Performance Certificate
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
{{ super() }}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-back-link" href="javascript: window.history.go(-1)">Back</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl">
         API Documentation
      </h1>

<div class='docs'>

  <h2>Display Energy Performance Certificates API</h2>

    <nav>
      <h4>Table of contents</h4>
      <div class='inner'>
        <ol class="numbered">
          <li>
            <a href='#using_this_api'>Using this API</a>
          </li>
  
  
            <li>
                <a href='#display-search'>Display Search API</a>
                <ol>
                    <li><a href='#display-pagination'>Pagination</a></li>
  
                    <li><a href='#display-address'>Filtering by address</a></li>
                    <li><a href='#display-postcode'>Filtering by postcode</a></li>
                    <li><a href='#display-local-authority'>Filtering by local authority</a></li>
                    <li><a href='#display-constituency'>Filtering by constituency</a></li>
                    <li><a href='#display-floor-area'>Filtering by floor area</a></li>
                    <li><a href='#display-energy-band'>Filtering by energy band</a></li>
                    <li><a href='#display-lodgement-date'>Filtering by lodgement date</a></li>
                    <li><a href='#display-combining-filters'>Combining Filters</a></li>
                </ol>
            </li>
            <li><a href='#display-cert'>Display Certificate API</a></li>
            <li><a href='#display-recommendations'>Display Recommendations API</a></li>
  
  
        </ol>
      </div>
    </nav>

      <!-------------------------- USING THIS API --------------------------------- -->
      <section  id='using_this_api'>
        <h3>Using this API</h3>
    
        <p>You require a registered account to use this API, and all requests to this API must
        be authenticated to your account using HTTP Basic Auth.
        To do this we use a Base64-encoded account identifier composed of
        your email address and api-key.
        </p>
    
    
        <p>
          This token must then be included in the HTTP <code>Authorization</code> header on every API request with the
          <code>Basic</code> authentication scheme, for example:
        </p>
    
      <p>
        Both of these tokens are used to authenticate you, so you
        should take measures to ensure you do not share them publicly,
        e.g by avoiding commiting them into public source code
        repositories, or storing them in the source of a publicly
        accessible website.
      </p>
    
        <pre>Authorization: Basic &lt;encoded-api-key&gt;</pre>
    
        <p>Assuming you have already registered, you should have received an email containing your API key.</p>
    
        <p>This token is generated by Base64-encoding the string <code>:</code> which
           is the concatenation of your email address <code></code> with the separator <code>:</code>
           and your api-key <code></code>.
        </p>
    
        <p>You may confirm that this works using a simple <a href="https://curl.haxx.se/">cURL</a> request asking for all results as CSV.</p>
    <pre>$ curl -v -X GET  -H "Accept: text/csv" -H "Authorization: Basic <mark>&lt;encoded-api-key&gt;</mark>" "https://epc.opendatacommunities.org/api/v1/display/search"</pre>
    
        <p>Unless otherwise stated each of our API's support the following <code>Accept</code> headers:</p>
        <table>
          <thead>
            <tr>
              <th>Response Format</th>
              <th>Accept Header</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><code>CSV</code></td>
              <td><code>text/csv</code></td>
            </tr>
            <tr>
              <td><code>Excel (pre 2007)</code></td>
              <td><code>application/vnd.ms-excel</code></td>
            </tr>
            <tr>
              <td><code>Excel (post 2007)</code></td>
              <td><code>application/vnd.openxmlformats-officedocument.spreadsheetml.sheet</code></td>
            </tr>
            <tr>
              <td><code>JSON</code></td>
              <td><code>application/json</code></td>
            </tr>
            <tr>
              <td><code>Zip (certificates.csv & recommendations.csv)</code></td>
              <td><code>application/zip</code></td>
            </tr>
          </tbody>
        </table>
    
      </section>

      <!-------------------------- SEARCH API --------------------------------- -->
      <section id='display-search'>
        <h3>Display Search API</h3>
    
        <p>
           This API can be called by making an authenticated HTTP <code>GET</code> request with an appropriate <code>Accept</code> header
           to the API endpoint:
        </p>
    
        <pre>https://epc.opendatacommunities.org/api/v1/display/search</pre>
    
      <p>
          Descriptions of all the columns and fields found in the
          returned data can be found in
          the <a href='/docs/guidance#glossary'>glossary</a>.
      </p>
    
      <p>
          This search API follows a subtractive search model, where
          without any additional filter parameters it will return a
          paginated result set containing all display
          certificates.
      </p>
    
      <h4 id='display-pagination'>Pagination</h4>
      <p>
          Without any additional query parameters the API will
          return the first page of of all the display
          certificates, with a default page size of
          25 results.  Additional pages can be
          requested by changing the pagination offset with
          the <code>from</code> and <code>size</code>query string
          parameters.
      </p>
      <p>
          For example we can change the page-size to <code>1000</code>
          and request the second page of results by setting
          our <code>from</code> parameter to <code>1000</code> also:
      </p>
    
        <pre>$ curl -v -H "Accept: text/csv" -H "Authorization: Basic &lt;encoded-api-key&gt;" "https://epc.opendatacommunities.org/api/v1/display/search<mark>?size=1000&from=1000</mark>"</pre>
    
        <p>
            Note: The API is only designed to support result sets of up to 10,000 records at a time, with a maximum page <code>size</code> of 5,000. This means you cannot paginate over more than 10,000 results for a single search. If you require more than 10,000 records,  make multiple requests and vary your search filters. For example, when searching within a large Local Authority, you might include date ranges, or floor area filters. Alternatively, download the full zip and work offline.
            </p>
    
          <h4 id='display-address'>Filtering by address</h4>
      
          <p>You can filter certificates by address by appending the <code>address</code> HTTP query-string
             parameter to the URL string.
        </p>
      
            <p>For example we can filter for certificates that have the address <code>liverpool</code>:</p>
      
      <pre>$ curl -v -H "Accept: text/csv" -H "Authorization: Basic &lt;encoded-api-key&gt;" "https://epc.opendatacommunities.org/api/v1/display/search<mark>?address=liverpool</mark>"</pre>
      
      <p>The parameter codes supported for this search filter and their meanings are described in the table below:</p>
      
      <table>
          <thead>
              <tr>
                  <th>Parameter/Code</th>
                  <th>Description</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>address</td>
                  <td>An arbitrary search string such as 'liverpool road'</td>
              </tr>
          </tbody>
      </table>
          <h4 id='display-postcode'>Filtering by postcode</h4>
      
          <p>You can filter certificates by postcode by appending the <code>postcode</code> HTTP query-string
             parameter to the URL string.
        </p>
      
            <p>For example we can filter for certificates that have the postcode <code>M1</code>:</p>
      
      <pre>$ curl -v -H "Accept: text/csv" -H "Authorization: Basic &lt;encoded-api-key&gt;" "https://epc.opendatacommunities.org/api/v1/display/search<mark>?postcode=M1</mark>"</pre>
      
      <p>The parameter codes supported for this search filter and their meanings are described in the table below:</p>
      
      <table>
          <thead>
              <tr>
                  <th>Parameter/Code</th>
                  <th>Description</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>postcode</td>
                  <td>An arbitrary postcode or prefix string of e.g. 'P', 'PR', 'PR8' or 'PR82EG'</td>
              </tr>
          </tbody>
      </table>

    </section>
<!-------------------------- RESOURCE API --------------------------------- -->
      <section id='display-cert'>
        <h3>Display Certificate API</h3>
    
        <p>
           This API can be called by making an authenticated HTTP <code>GET</code> request with an appropriate <code>Accept</code> header
           to the API endpoint:
        </p>
    
        <pre>https://epc.opendatacommunities.org/api/v1/display/certificate/:certificate-hash</pre>
    
        <p>
            Where <code>:certificate-hash</code> is the <em>Certificate Hash</em> of a certificate from a search result or download. For
        example we can request the
        certificate with <em>Certificate Hash</em> of <code>f162fd44affedc64966419fc7e2642031a9a219fcf559c48f4d6ac6f49cecfce</code> by making a
        request to the API at the URL:
        </p>
    
        <pre>https://epc.opendatacommunities.org/api/v1/display/certificate/f162fd44affedc64966419fc7e2642031a9a219fcf559c48f4d6ac6f49cecfce</pre>
    
        <p><strong>Note: This API route will change soon, to expect an LMK key as the identifier instead of a certificate hash. <a href='http://news.opendatacommunities.org/changes-to-epc-search-tool/'>Read more</a></strong>.</p>
    
        <p>
        When a supported <code>Accept</code> header is set on the request
        it will return the specified certificate in the requested format.
        An example of how to request this certificate in CSV format using
        cURL is shown below:
        </p>
    
        <pre>$ curl -v -H "Accept: text/csv" -H "Authorization: Basic &lt;encoded-api-key&gt;" "https://epc.opendatacommunities.org/api/v1/display/certificate/<mark>f162fd44affedc64966419fc7e2642031a9a219fcf559c48f4d6ac6f49cecfce</mark>"</pre>
    
      <p>Descriptions of all the columns and fields found in the returned data can be found in the <a href='/docs/guidance#glossary'>glossary</a>.</p>
    
      </section>
    
      <section id='display-recommendations'>
      <h3>Display Recommendations API</h3>
    
      <p>
      Not all certificates contain recommendations for the property, but
      where they do they are available via this API route:
      </p>
    
      <pre>https://epc.opendatacommunities.org/api/v1/display/recommendations/:lmk-key</pre>
    
      <p>If the property has no recommendations a HTTP <code>404</code> not found status code will be returned.</p>
    
      <p>
        Recommendations are keyed on the certificates <code>lmk-key</code>, which can be obtained from
        the certificate's <code>lmk-key</code> field.
      </p>
    
        <pre>$ curl -v -H "Accept: text/csv" -H "Authorization: Basic &lt;encoded-api-key&gt;" "https://epc.opendatacommunities.org/api/v1/display/recommendations/<mark>12620160722020721</mark>"</pre>
    
    
      </section>

</div>
 


    </div>

    <div class="govuk-grid-column-one-third">
      {% include "includes/auth_side_nav.html" %}
    </div>

  </div>
{% endblock %}
