{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}

{% extends "layout.html" %}

{% block pageTitle %}
  Find an Energy Performance Certificate
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
{{ super() }}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-back-link" href="javascript: window.history.go(-1)">Back</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Download EPC data
      </h1>

      <p>Use this service to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>View API documentation.</li>
        <li>Search <abbr title="Energy Performance Certificate">EPC</abbr> data for a specific property address.</li>
        <li>Filter and download <abbr title="Energy Performance Certificate">EPC</abbr> data based on the various data fields.</li>
        <li>Update your account profile.</li>
        <li>Manage authorised user section</li>
        <li>Update address information</li>
        <li>Lodge <abbr title="Energy Performance Certificate">EPC</abbr> data</li>
        <li>Process an opt in/out request</li>
      </ul>

      <a href="filter.html" role="button" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">Start now</a>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p>This guide explains the <a href="#">API documentation</a>.</p>

      <p>The online service is also available in <a href="welsh.html">Welsh (Cymraeg)</a>.</p>


    </div>

    <div class="govuk-grid-column-one-third">
      {% include "includes/auth_side_nav.html" %}
    </div>

  </div>
{% endblock %}
