{% from "input/macro.njk" import govukInput %}
{% from "button/macro.njk" import govukButton %}

{% extends "layout.html" %}

{% block pageTitle %}
  Find an Energy Performance Certificate
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
{{ super() }}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-back-link" href="javascript: window.history.go(-1)">Back</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">


      <h1 class="govuk-heading-xl">
        {{ results.assessor.name }}
      </h1>

      <p>Edit my personal user account</p>

      <table class="govuk-table">
        <!-- <caption class="govuk-table__caption">{{ assessor.address }}</caption> -->

        <tbody class="govuk-table__body">

          {% for key, item in results.assessor %}
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">{{ key| capitalize }}</th>
                <td class="govuk-table__cell">{{ item }}</td>
              </tr>
          {% endfor %}

        </tbody>
      </table>
 
      <hr class="govuk-section-break govuk-section-break--xl ">

      <h2>Scheme</h2> 

      <table class="govuk-table">

        <tbody class="govuk-table__body">

          {% for key, item in results.scheme %}
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="row">{{ key | capitalize }}</th>
                {% if key=="email" %}
                <td class="govuk-table__cell"><a href="mailto:{{ item }}">{{ item }}</a></td>
                {% elif key=="website" %}
                <td class="govuk-table__cell"><a href="http://{{ item }}">{{ item }}</a></td>
                {% else %}
                <td class="govuk-table__cell">{{ item }}</td>
                {% endif %}
              </tr>
          {% endfor %}

        </tbody>
      </table>

    </div>

    <div class="govuk-grid-column-one-third">
      {% include "includes/auth_side_nav.html" %}
    </div>

  </div>
{% endblock %}
