{% extends "layout.html" %}

{% block pageTitle %}
  Energy performance of buildings register - GOV.UK
{% endblock %}


{% block beforeContent %}
{{ super() }}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/">Home</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        EPC Register Auth Access: {{user | upper}}
      </h1>

      <p>The {{user | upper}} account grants access to the following features:</p>

    





      <ul>
      {% for item in links %}
      <li>
        <!-- <a href="{{item.link}}" class="{{item}}"> -->
          {{item.copy}}
        <!-- </a> -->
      </li>
      {% endfor %}
      </ul>

      <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">Warning</span>
      If the owner and/or occupier of the property has chosen to remove a property from general searches, the property information can only be found using the reference number on the certificate.
      </strong>
      </div>

    </div>


    <div class="govuk-grid-column-one-third">

      {% include "includes/auth_side_nav.html" %}


      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Demo links to user types
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            {% for item in users %}
            <li>
              <a href="/user?user={{item}}" class="{{item}}">
                {{item | capitalize}}
              </a>
            </li>
            {% endfor %}
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
